services:
  webapp:
    build: ./webapp
    container_name: webapp
    networks:
      - webnet
    expose:
      - "80"

  nginx-waf:
    build: ./nginx-waf
    container_name: nginx-waf
    ports:
      - "80:8080"
      - "443:8443"
    networks:
      - webnet
    depends_on:
      - webapp

networks:
  webnet:
    driver: bridge
